.App {
  text-align: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ejercicioBootstrap01 .container {
  background-color: #f2f2f2;
}

.ejercicioBootstrap01 .column {
  border: 1px solid black;
}

nav.navbar {
  background-color: #333;
  --bs-navbar-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-hover-color: red;
  --bs-navbar-brand-hover-color: red;
}

.ejercicioBootstrap03 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsApi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

